body {
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Impdiv {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #D8516D;
    
}

.mainDiv {
    background-color: white;
    border: #EA8DA0 solid 2px;
    border-radius: 50px;
    box-shadow: 0 8px 25px #D8516D, 0 -8px 25px #EA8DA0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    z-index: 1;
    width: auto; 
    max-width: 90%; 
    min-height: 150px; 
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border: #EA8DA0 1px solid;
}

.text {
    color: #D8516D;
    width: 100%; 
    max-width: 100%; 
    /* font-size: large; */
    /* white-space: pre;  */
    /* overflow: hidden; */
    /* border-right: 5px solid #FF007F;  */
    margin-bottom: 40px;
    /* animation: typing 2s, cursor .8s step-end infinite alternate; */
    /* animation-fill-mode: forwards; */
    font-size: 1.2em;
    text-align: center;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

/* @keyframes typing {
    from { width: 0; }
    to { max-width: 100% }
} */

button {
    padding: 1em 2em;
    background-color: #ff9eb5;
    color: #D8516D;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-image: linear-gradient(to bottom right, #D8516D, #EA8DA0);
    color: white;
    box-shadow: 0 0 20px #D8516D, 0 0 40px #EA8DA0;
}

button::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom right, #D8516D, #EA8DA0);
    height: 108%;
    width: 102%;
    border-radius: 50px;
    z-index: -1;
    transition: transform 0.3s;
    top: -3.5%;
    left: -1%;
}

button:hover::after {
    transform: scale(1.05);
}
